

@Styles.Render("~/Content/Editor.css")
@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/collapsMenu.css")
@Styles.Render("~/Content/collapsMenuRight.css")

@Styles.Render("https://fonts.googleapis.com/icon?family=Material+Icons")



@{
    Layout = null;
}
<script src="../../Scripts/fabric.js-1.7.22/dist/fabric.min.js"></script>
<script src="../../Scripts/js/classes/class.js"></script>
<script src="../../Scripts/js/function/CanvasManupulation.js"></script>
<script src="../../Scripts/js/classes/classObject.js"></script>
<script src="../../Scripts/js/Use-case/Actor.js"></script>
<script src="../../Scripts/js/Use-case/UseCase.js"></script>
<script src="../../Scripts/js/Use-case/System.js"></script>
<script src="../../Scripts/js/squence/ObjectSeq.js"></script>
<script src="../../Scripts/js/squence/Activation.js"></script>
<script src="../../Scripts/js/squence/Lifeline.js"></script>
<script src="../../Scripts/js/activity/ConditionCheck.js"></script>
<script src="../../Scripts/js/activity/StartOfProcess.js"></script>
<script src="../../Scripts/js/activity/Terminator.js"></script>
<script src="../../Scripts/js/activity/ActivityObject.js"></script>
<script src="../../Scripts/js/function/Creator.js"></script>
<script src="../../Scripts/js/function/RightMenuDynamic.js"></script>
<script src="../../Scripts/js/classes/ArrowClass.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapseR').on('click', function () {
            $('#sidebarR').toggleClass('active');
        });
    });
</script>




<script>
    function reloadPage() {
       
            return "Do you really want to leave our brilliant application?";
       
    }
    var first;
    var canvas;
    var canvasItems;
    var id = 1;
 
    
    function addClass() {
        createClass(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function addArrowClass(tH, tB, tF) {
        createArrowClass(canvas, canvasItems, id, tH, tB, tF);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function addUsecase() {
        createUsecase(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function addSystem() {
        createSystem(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function addActor() {
        createActor(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function addObjectSeq() {
        createObjectSeq(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function addActivation() {
        createActivation(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }

    function addLifeline() {
        createLifeline(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function addConditionCheck() {
        createConditionCheck(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function addStartOfProcess() {
        createStartOfProcess(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function addTerminator() {
        createTerminator(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function addActivityObject() {
        createActivityObject(canvas, canvasItems, id);
        id++;
        canvas.clear();
        canvasAdd(canvasItems, canvas);
    }
    function remove() {
        removeItem(canvasItems, canvas);
    }
    $(document).ready(function () {

        document.getElementById("can").style.height = screen.height - 170;
        var canvasOptions = {
        };
        var canvasId = 'c';
        canvas = new fabric.Canvas(canvasId, canvasOptions);
        canvas.backgroundColor = "#F2F2F2";
        canvasItems = [];
        canvasAdd(canvasItems, canvas);
        canvas.on('object:modified', onObjectScaled);

        function onObjectScaled(e) {
            var scaledObject = e.target;
            //updateData(canvasItems, canvas);
            for (var i = 0; i < canvasItems.length; i++) {
               if (canvasItems[i].group == selectedObject) {

                   canvasItems[i].changeWidth(scaledObject.getWidth());
                   $('#' + canvasItems[i].id + "width").val(canvasItems[i].width);
                   canvasItems[i].changeHeight(scaledObject.getHeight() );
                   $('#' + canvasItems[i].id + "height").val(canvasItems[i].height);

              }
           }
            canvas.clear();
            canvasAdd(canvasItems, canvas);
        }
        canvas.on('object:selected', onObjectSelected);
        function onObjectSelected(e) {
            var previous = 0;
            for (var i = 0; i < canvasItems.length; i++) {
                if (canvasItems[i].group == selectedObject) {

                     previous = canvasItems[i].id;

                }

            }
            selectedObject = e.target;
            for (var i = 0; i<canvasItems.length; i++) {
                if (canvasItems[i].group == selectedObject) {

                    openSelected(canvasItems[i].id, previous);
                   
                }
            }
           
        }

       
       

    });

</script>



@{
    ViewBag.Title = "DrawMa.io";
}
<div class="menu" onbeforeunload="return reloadPage()">
    <div class="title-left">
        <h2>@ViewBag.Title</h2>
        <button type="button" id="sidebarCollapse" class="btn btn-info1 navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>

        </button>
    </div>
    <div class="title-center">
        <div class="item-container">
            <div class="item-box">
                <i class="material-icons">near_me</i>
                <p class="item-box">Move</p>
            </div>
            <div class="item-box">
                <i class="material-icons">fullscreen</i>
                <p class="item-box">Select</p>
            </div>
            <div class="item-box" onclick="remove()">
                <i class="material-icons">close</i>
                <p class="item-box">Remove</p>
            </div>
            <div class="item-box">
                <i class="material-icons">save</i>
                <p class="item-box">Save</p>
            </div>
        </div>
        <div class="search-box">
            <i class="material-icons">search</i>
            <input type="text" placeholder="Search..">

        </div>

    </div>
    <div class="title-right">



        <button type="button" id="sidebarCollapseR" class="btn btn-info1 navbar-btn"><i class="material-icons md-48">reorder</i></button>


        <button class="dropbtn"> <i class="material-icons md-48">account_box</i></button>
    </div>
</div>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="rightMenuScroll">

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#Class" data-toggle="collapse" id="kokot" aria-expanded="false">Class Diagrams</a>
                    <ul class="collapse list-unstyled " id="Class">
                        <div class="list-inline">
                            <li><a href="#" onclick="addClass()"> <img src="~/Content/MenuItems/class.png" alt="Image" style="width:80px;"  /></a></li>
                            <li><a href="#" onclick="addArrowClass('AR','LL','NN')"> <img src="~/Content/MenuItems/arrowBlack_fullLine.png" alt="Image" style="width:80px;" /></a></li>

                        </div>
                        <div class="list-inline">
                            <li><a href="#" onclick="addArrowClass('AG','DD','NN')"> <img src="~/Content/MenuItems/agregation_dashedLine.png" alt="Image" style="width:80px;" /></a></li>
                            <li><a href="#" onclick="addArrowClass('AG','LL','NN')"> <img src="~/Content/MenuItems/agregation_Line.png" alt="Image" style="width:80px;" /></a></li>

                        </div>
                        <div class="list-inline">
                            <li><a href="#" onclick="addArrowClass('AR','DD','NN')"> <img src="~/Content/MenuItems/arrowBlack_dashedLine.png" alt="Image" style="width:80px;" /></a></li>
                            <li><a href="#" onclick="addArrowClass('AR','LL','NN')"> <img src="~/Content/MenuItems/arrowBlack_fullLine.png" alt="Image" style="width:80px;" /></a></li>

                        </div>
                        <div class="list-inline">
                            <li><a href="#" onclick="addArrowClass('AB','DD','NN')"> <img src="~/Content/MenuItems/arrowFullBlack_dashedLine.png" alt="Image" style="width:80px;" /></a></li>
                            <li><a href="#" onclick="addArrowClass('AB','LL','NN')"> <img src="~/Content/MenuItems/arrowFullBlack_line.png" alt="Image" style="width:80px;" /></a></li>

                        </div>
                        <div class="list-inline">
                            <li><a href="#" onclick="addArrowClass('AW','DD','NN')"> <img src="~/Content/MenuItems/arrowFullWhite_dashedLine.png" alt="Image" style="width:80px;" /></a></li>
                            <li><a href="#" onclick="addArrowClass('AW','LL','NN')"> <img src="~/Content/MenuItems/arrowFullWhite_line.png" alt="Image" style="width:80px;" /></a></li>

                        </div>
                        <div class="list-inline">
                            <li><a href="#" onclick="addArrowClass('AC','DD','NN')"> <img src="~/Content/MenuItems/composition_dashedLine.png" alt="Image" style="width:80px;" /></a></li>
                            <li><a href="#" onclick="addArrowClass('AC','LL','NN')"> <img src="~/Content/MenuItems/composition_line.png" alt="Image" style="width:80px;" /></a></li>

                        </div>
                    </ul>
                </li>
                <li>

                    <a href="#pag1" data-toggle="collapse" aria-expanded="false">Use-Case</a>
                    <ul class="collapse list-unstyled" id="pag1">
                        <div class="list-inline">
                            <li><a href="#" onclick="addUsecase()"> <img src="~/Content/MenuItems/usecase.png" alt="Image" style="width:100px;" /></a></li>
                            <li><a href="#" onclick="addActor()"> <img src="~/Content/MenuItems/actor.png" alt="Image" style="width:50px;" /></a></li>
                        </div>
                        <div class="list-inline">
                            <li><a href="#" onclick="addSystem()"> <img src="~/Content/MenuItems/system.png" alt="Image" style="width:100px;" /></a></li>

                        </div>
                    </ul>
                </li>
                <li>

                    <a href="#seq" data-toggle="collapse" aria-expanded="false">Sequence diagrams</a>
                    <ul class="collapse list-unstyled" id="seq">
                        <div class="list-inline">
                            <li><a href="#" onclick="addObjectSeq()"> <img src="~/Content/MenuItems/objectseq.png" alt="Image" style="width:100px;" /></a></li>
                            <li><a href="#" onclick="addActivation()"> <img src="~/Content/MenuItems/activation.png" alt="Image" style=" height: 50px;" /></a></li>

                        </div>
                        <div class="list-inline">
                            <li><a href="#" onclick="addLifeline()"> <img src="~/Content/MenuItems/lifeline.png" alt="Image" style=" height: 50px;" /></a></li>

                        </div>
                    </ul>
                </li>
                <li>

                    <a href="#activityDiagrams" data-toggle="collapse" aria-expanded="false">Activity diagrams</a>
                    <ul class="collapse list-unstyled" id="activityDiagrams">
                        <div class="list-inline">
                            <li><a href="#" onclick="addActivityObject()"> <img src="~/Content/MenuItems/activita.png" alt="Image" style="width:100px;" /></a></li>
                            <li><a href="#" onclick="addConditionCheck()"> <img src="~/Content/MenuItems/condition_check.png" alt="Image" style=" height: 50px;" /></a></li>

                        </div>
                        <div class="list-inline">
                            <li><a href="#" onclick="addStartOfProcess()"> <img src="~/Content/MenuItems/start_of_proces.png" alt="Image" style="width:50px;" /></a></li>
                            <li><a href="#" onclick="addTerminator()"> <img src="~/Content/MenuItems/terminator.png" alt="Image" style=" height: 50px;" /></a></li>

                        </div>
                    </ul>
                </li>

            </ul>


        </div>
    </nav>

    <div class="can" id="can">
        <canvas id="c" width="1900" height="1000" />
    </div>


    <nav id="sidebarR">
        <div class="rightMenuScroll">

            <ul id="rightMenuScrollInsert" class="list-unstyled components"></ul>
        </div>
    </nav>

</div>

