

@Styles.Render("~/Content/Editor.css")
@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/collapsMenu.css")

@Styles.Render("https://fonts.googleapis.com/icon?family=Material+Icons")



@{
    Layout = null;
}
<script src="../../Scripts/fabric.js-1.7.22/dist/fabric.min.js"></script>
<script src="../../Scripts/js/classes/class.js"></script>
<script src="../../Scripts/js/classes/classObject.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>


<script>
    var first;
    $(document).ready(function () {
        document.getElementById("columnB").style.height = screen.height;

        document.getElementById("can").style.height = document.getElementById("columnB").style.height;
        var canvasOptions = {
        };
        var canvasId = 'c';

        var canvas = new fabric.Canvas(canvasId, canvasOptions);
        var nieco = 'nieco';
        first = new ClassObject(0, 0, 200, DEFAULT_NAME, false, nieco, canvas);
        first.initObject();
        first.draw(canvas);
        var secound = new ClassObject(0, 0, 200, DEFAULT_NAME, false, nieco, canvas);
        secound.initObject();
        secound.draw(canvas);
        //var rect = new fabric.Rect({
        //    left: 100,
        //    top: 100,
        //    fill: 'red',
        //    width: 20,
        //    height: 20
        //});

        //// "add" rectangle onto canvas
        //canvas.add(rect);
        //var rect1 = new fabric.Rect({
        //    left: 200,
        //    top: 200,
        //    fill: 'red',
        //    width: 20,
        //    height: 20
        //});

        //// "add" rectangle onto canvas
        //canvas.add(rect1);
        //var rect2 = new fabric.Rect({
        //    left: 300,
        //    top: 300,
        //    fill: 'red',
        //    width: 20,
        //    height: 20
        //});

        //// "add" rectangle onto canvas
        //canvas.add(rect2);
        //var rect3 = new fabric.Rect({
        //    left: 400,
        //    top: 400,
        //    fill: 'red',
        //    width: 20,
        //    height: 20
        //});

        //// "add" rectangle onto canvas
        //canvas.add(rect3);
        //var rect4 = new fabric.Rect({
        //    left: 500,
        //    top: 500,
        //    fill: 'red',
        //    width: 20,
        //    height: 20
        //});

        //// "add" rectangle onto canvas
        //canvas.add(rect4);
        //// first.addExtends("nieco");
        //// first.addItem('+ adam : String');
        //// first.addItem('+ adam1 : String');
        //// first.addItem('+ adam 2: String');
        //// first.addItem('+ adam3 : String');
        //// first.addItem('+ adam4 : String');
        ////first.addItem('+ adam5 : String');
        ////first.addItem('+ adam6 : String');
        ////first.addItem('+ adam7 : String');
        //// first.draw(canvas);

        canvas.add(first.group);
        canvas.add(secound.group);
        document.getElementById('add').onclick = function () {
            canvas.clear();
            first.addItem('+ item : String ');

            canvas.add(first.group);
            canvas.add(secound.group);

            //first.draw(canvas);

        }
        document.getElementById('add1').onclick = function () {
            canvas.clear();
            secound.addItem('+ item : String ');
            canvas.add(first.group);
            canvas.add(secound.group);


            //first.draw(canvas);

        }



    });





</script>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

@{
    ViewBag.Title = "DrawMa.io";
}
<div class="menu">
    <div class="title-left">
        <h2>@ViewBag.Title</h2>
        <button type="button" id="sidebarCollapse" class="btn btn-info1 navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
           
        </button>
    </div>
    <div class="title-center">
        <div class="item-container">
            <div class="item-box">
                <i class="material-icons">near_me</i>
                <p class="item-box">Move</p>
            </div>
            <div class="item-box">
                <i class="material-icons">fullscreen</i>
                <p class="item-box">Select</p>
            </div>
            <div class="item-box">
                <i class="material-icons">close</i>
                <p class="item-box">Remove</p>
            </div>
            <div class="item-box">
                <i class="material-icons">save</i>
                <p class="item-box">Save</p>
            </div>
        </div>
        <div class="search-box">
            <i class="material-icons">search</i>
            <input type="text" placeholder="Search..">

        </div>

    </div>
    <div class="title-right">

        <div class="dropdown">

            <button onclick="myFunction()" class="dropbtn"> <i class="material-icons md-48">reorder</i></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <button class="dropbtn"> <i class="material-icons md-48">account_box</i></button>
    </div>
</div>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><button type="button" id="add">Add First</button></li>
            <li><button type="button" id="add1">Add Secound</button></li>
        </ul>
    </nav>
  

    
    <div class="container">
        <div class="row">
           
            <div class="col-lg-10" id="columnB">
                <div class="can" id="can">
                    <canvas id="c" width="1000" height="1000" />
                </div>
            </div>
          



        </div>






    </div>

    <p>Use this area to provide additional information.</p>
</div>
